body {
  color: #1a1a1a;
  margin: 0;
}
main {
  display: block;
}
.content {
  display: block;
  position: fixed;
  background: url("../img/mask_logo.png") no-repeat #e52524;
  width: 327px;
  height: 327px;
  margin: 20px 0 0 -163px;
  left: 50%;
}
.mask {
  position: relative;
  margin: 0 auto;
  top: 10px;
  width: 347px;
  height: 347px;
}
.copy {
  min-height: 1000px;
  background: #fff;
  padding: 60px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  max-width: 700px;
  width: 100%;
  position: relative;
  margin: 0 auto;
}
